{% extends "layout.html" %}

<!-- {% block heading %}
first LoginPage
{% endblock %} -->

{% block content %}
<div>
    <nav class="navbar navbar-dark bg-dark">
        <h5 class="text-white h4">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/">Logout</a>
        </h5>
        
    </nav>

</div>


<h4>Book Search Page</h4><br><br>
<div style="text-align: center;margin-left: 15%;margin-right: 15%;">
    <div>
        <form class="example" action="/search"  method="post">
          <img style="float:left;width:270px;height:230px;"  src="{{ url_for('static', filename='library2.gif')}}" alt="Search" class="image">
          <img style="float:right;width:290px;height:230px;"  src="{{ url_for('static', filename='library.gif')}}" alt="Search" class="image">

            <input style="width: 300px; margin: auto;" type="text" placeholder="Search.." name="search" class="form-control"required><br><br>
            <button class="btn btn-primary" type="submit">Search</button>
          <br>
        </form>
    </div>
</div>
<div>
  <br>
<div style="margin-left: 120px;margin-right: 120px;">
  <div>
    <form action="{{url_for('bookshelf')}}">
      <button class="btn btn-info" type="submit">My Shelf</button>
    </form>
  </div>
  <br>
        <table class="table table-hover table-dark">
            <thead class="thead-dark" style="margin: auto;">
                
                <th ><h5 >isbn</h5></th>
                <th ><h5 >Title of the book</h5></th>
                <th ><h5 >Author</h5></th>
                <th ><h5 >Year</h5></th>
              <tr>
                <br>
                <br>
              </tr>
            </thead>
            <tbody>
              {% for book in books %}
              <tr>
        

                    <td ><h4><a href="/rr/{{book.isbn}}" >{{book.isbn}}</a> </h4></td>
                    <td ><h4>{{book.title}}</h4></td>
                    <td ><h4>{{book.author}}</h4></td>
                    <td ><h4>{{book.year}}</h4></td>
              {% endfor %}
                


            </tr>
              
            </tbody>
          </table>
        </div>
        <br>
        <br>
        
    
</div>


{% endblock %}

